$light-000: #ffffff;
$light-200: #f5f5f5;

$black-200: #efeded;
$black-250: #c3c1c1;
$black-300: #707070;
$black-900: #000000;

$primary-200: #eff4ff;
$primary-500: #007ba4;

$red-400: #b55c78;

$green-300: #8db6a6;
