$light-000: hsl(0, 0%, 100%);
$light-100: hsl(0, 0%, 98%);
$light-200: hsl(0, 0%, 96%);

$black-200: #efeded;
$black-250: #c3c1c1;
$black-300: #707070;
$black-900: #000000;

$primary-200: #eff4ff;
$primary-400: #0099cc;
$primary-500: #007ba4;

$red-400: #b55c78;

$green-300: #8db6a6;
