$space-tiny: 2px;
$space-small: 8px;
$space-medium: 16px;
$space-large: 32px;

$space-40: var(--space-40);
$space-80: var(--space-80);
$space-100: var(--space-100);
$space-120: var(--space-120);
$space-140: var(--space-140);
