@use "./colors.scss" as *;
@use "./breakpoints.scss" as *;
@use "sass:math";

// Font Families

$heading-font: "Open Sans", sans-serif;
$text-font: "Open Sans", sans-serif;

// Font Size

$heading01: 60px;
$heading02: 50px;
$heading03: 40px;
$paragraph: 30px;
$navigation: 25px;

// Mixins

@mixin headingBasics($color) {
  font-family: $heading-font;
  line-height: 1.4;
  color: $color;
}

@mixin H1($color: $black-900) {
  @include headingBasics($color);
  font-weight: 300;

  @include for-desktop-only {
    font-size: $heading01;
  }

  @include for-tablet-only {
    font-size: math.div(2 * $heading01, 3);
  }

  @include for-phone-only {
    font-size: math.div($heading01, 2);
  }
}

@mixin H2($color: $black-900) {
  @include headingBasics($color);
  font-weight: 300;

  @include for-desktop-only {
    font-size: $heading02;
  }

  @include for-tablet-only {
    font-size: math.div(2 * $heading02, 3);
  }

  @include for-phone-only {
    font-size: math.div($heading02, 2);
  }
}

@mixin H3($color: $black-900) {
  @include headingBasics($color);
  font-weight: 300;

  @include for-desktop-only {
    font-size: $heading03;
  }

  @include for-tablet-only {
    font-size: math.div(2 * $heading03, 3);
  }

  @include for-phone-only {
    font-size: math.div($heading03, 2);
  }
}

@mixin H3Bold($color: $black-900) {
  @include headingBasics($color);

  font-weight: 500;

  @include for-desktop-only {
    font-size: $heading03;
  }

  @include for-tablet-only {
    font-size: math.div(2 * $heading03, 3);
  }

  @include for-phone-only {
    font-size: math.div($heading03, 2);
  }
}

@mixin Nav($color: $black-900) {
  font-family: $text-font;
  font-weight: 300;
  line-height: 1.4;
  color: $color;
  text-decoration: none;

  @include for-desktop-only {
    font-size: $navigation;
  }

  @include for-tablet-only {
    font-size: math.div(2 * $navigation, 3);
  }

  @include for-phone-only {
    font-size: math.div($navigation, 2);
  }
}

@mixin P($color: $black-900) {
  font-family: $text-font;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.4;
  color: $color;

  @include for-desktop-only {
    font-size: $paragraph;
  }

  @include for-tablet-only {
    font-size: math.div(2 * $paragraph, 3);
  }

  @include for-phone-only {
    font-size: math.div($paragraph, 2);
  }
}

@mixin PRegular($color: $black-900) {
  font-family: $text-font;
  font-weight: 500;
  line-height: 1.4;
  color: $color;

  @include for-desktop-only {
    font-size: $paragraph;
  }

  @include for-tablet-only {
    font-size: math.div(2 * $paragraph, 3);
  }

  @include for-phone-only {
    font-size: math.div($paragraph, 2);
  }
}
// @mixin H2($color: $secondary-color-05, $font-size: 32px) {
//   @include headingBasics($color);
//   font-size: $font-size;
// }

// @mixin H3($color: $secondary-color-05) {
//   @include headingBasics($color);
//   font-size: 24px;
// }

// @mixin P-light($color: $tertiary-color-05) {
//   font-family: $text-font;
//   font-weight: 300;
//   font-size: 16px;
//   line-height: 1.5;
//   color: $color;
// }
