@use "./colors.scss" as *;
@use "./breakpoints.scss" as *;
@use "sass:math";

// Font Families

$heading-font: "Open Sans", sans-serif;
$text-font: "Open Sans", sans-serif;

// Font Size

$heading01-desktop: 30px;
$heading01-tab: 26px;
$heading01-mobile: $heading01-tab;

$heading02-desktop: 26px;
$heading02-tab: 22px;
$heading02-mobile: $heading02-tab;

$heading03-desktop: 22px;
$heading03-tab: 20px;
$heading03-mobile: $heading03-tab;

$paragraph-desktop: 18px;
$paragraph-tab: 16px;
$paragraph-mobile: $paragraph-tab;

$navigation-desktop: 16px;
$navigation-tab: 15px;
$navigation-mobile: $navigation-tab;

// Mixins

@mixin headingBasics($color) {
  font-family: $heading-font;
  line-height: 1.4;
  color: $color;
}

@mixin H1($color: $black-900) {
  @include headingBasics($color);
  font-weight: 300;

  @include for-desktop-only {
    font-size: $heading01-desktop;
  }

  @include for-tablet-only {
    font-size: $heading01-tab;
  }

  @include for-phone-only {
    font-size: $heading01-mobile;
  }
}

@mixin H2($color: $black-900) {
  @include headingBasics($color);
  font-weight: 300;

  @include for-desktop-only {
    font-size: $heading02-desktop;
  }

  @include for-tablet-only {
    font-size: $heading02-tab;
  }

  @include for-phone-only {
    font-size: $heading02-mobile;
  }
}

@mixin H3($color: $black-900) {
  @include headingBasics($color);
  font-weight: 300;

  @include for-desktop-only {
    font-size: $heading03-desktop;
  }

  @include for-tablet-only {
    font-size: $heading03-tab;
  }

  @include for-phone-only {
    font-size: $heading03-mobile;
  }
}

@mixin H3Bold($color: $black-900) {
  @include headingBasics($color);

  font-weight: 500;

  @include for-desktop-only {
    font-size: $heading03-desktop;
  }

  @include for-tablet-only {
    font-size: $heading03-tab;
  }

  @include for-phone-only {
    font-size: $heading03-mobile;
  }
}

@mixin Nav($color: $black-900) {
  font-family: $text-font;
  font-weight: 300;
  line-height: 1.4;
  color: $color;
  text-decoration: none;

  @include for-desktop-only {
    font-size: $navigation-desktop;
  }

  @include for-tablet-only {
    font-size: $navigation-tab;
  }

  @include for-phone-only {
    font-size: $navigation-mobile;
  }
}

@mixin P($color: $black-900) {
  font-family: $text-font;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.4;
  color: $color;

  @include for-desktop-only {
    font-size: $paragraph-desktop;
  }

  @include for-tablet-only {
    font-size: $paragraph-tab;
  }

  @include for-phone-only {
    font-size: $paragraph-mobile;
  }
}

@mixin PRegular($color: $black-900) {
  font-family: $text-font;
  font-weight: 500;
  line-height: 1.4;
  color: $color;

  @include for-desktop-only {
    font-size: $paragraph-desktop;
  }

  @include for-tablet-only {
    font-size: $paragraph-tab;
  }

  @include for-phone-only {
    font-size: $paragraph-mobile;
  }
}
// @mixin H2($color: $secondary-color-05, $font-size: 32px) {
//   @include headingBasics($color);
//   font-size: $font-size;
// }

// @mixin H3($color: $secondary-color-05) {
//   @include headingBasics($color);
//   font-size: 24px;
// }

// @mixin P-light($color: $tertiary-color-05) {
//   font-family: $text-font;
//   font-weight: 300;
//   font-size: 16px;
//   line-height: 1.5;
//   color: $color;
// }
