---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum" preFooterVisibility="0">
  <section>
    <h1>Infos fürs Impressum:</h1>

    <p>
      Verantwortlich:<br />
       Lauenroth GmbH<br />
       Jörg Lauenroth<br />
       Schnetzen 1/1<br />
       88276 Berg
    </p>

    <p>
      <a href="mailto:hallo@lauenroth-gmbh.de">hallo@lauenroth-gmbh.de</a><br />
       07505 – 9578900
    </p>

    <p>Umsatzsteuer-ID:</p>

    <p>Handelsregister: Amtsgericht Ulm, HRB 747174</p>
  </section>
</Layout>
<style lang="scss">
  @use "../abstractStyles/" as *;

  section {
    @include container();

    h1 {
      @include H1();

      padding-bottom: $space-30;
    }

    p {
      @include P();
      padding-bottom: $space-30;
    }
  }
</style>
