---
import Layout from "../layouts/Layout.astro";

import MainHeading from "../components/MainHeading.astro";

import Calendly from "../assets/images/calendly.webp";
---

<Layout title="Kontakt">
  <MainHeading
    heading="Möchten Sie uns kennenlernen? Nehmen Sie gerne Kontakt mit uns auf"
    subHeading="Wir freuen uns von Ihnen zu hören"
  />

  <section><img src={Calendly.src} alt="calendly" /></section>
</Layout>

<style lang="scss">
  @use "../abstractStyles/" as *;
  section {
    @include container();
  }
</style>
