---
import Layout from "../layouts/Layout.astro";

import Calendly from "../assets/images/calendly.webp";
---

<Layout title="kontakt">
  <section class="intro">
    <h1>Möchten Sie uns kennenlernen? Nehmen Sie gerne Kontakt mit uns auf</h1>
    <h2>Wir freuen uns von Ihnen zu hören</h2>
    <img src={Calendly.src} alt="calendly" />
  </section>
</Layout>

<style lang="scss">
  @use "../abstractStyles/" as *;

  .intro {
    @include container();
    padding-top: 150px;
    padding-bottom: 60px;

    h1 {
      @include H1();
      text-align: center;
    }
    h2 {
      @include H2();
      text-align: center;
      padding-bottom: 120px;
    }
  }
</style>
