---
import Layout from "../layouts/Layout.astro";

import MainHeading from "../components/MainHeading.astro";
---

<Layout
  title="Kontakt"
  preFooterVisibility="0"
  footerHeading="Kontaktieren Sie uns"
  footerSubHeading="Schnetzen 1/1  |  88276 Berg |  hallo@lauenroth-gmbh.de  |  07504 971 82 42"
  FooterButtonVisibility="0"
>
  <MainHeading
    preHeading="Möchten Sie uns kennenlernen?"
    preHeadingVisibility="true"
    heading="BNehmen Sie gerne Kontakt mit uns auf"
    subHeading="Wir freuen uns von Ihnen zu hören! Oder vereinbaren Sie einfach direkt über Calendly einen Termin für ein Online-Meeting mit uns."
  />

  <!-- Calendly inline widget begin -->
  <div
    class="calendly-inline-widget"
    data-url="https://calendly.com/j-lauenroth"
    style="min-width:320px;height:700px;"
  >
  </div>
  <script
    type="text/javascript"
    src="https://assets.calendly.com/assets/external/widget.js"
    async></script>
  <!-- Calendly inline widget end -->
</Layout>

<style lang="scss">
  @use "../abstractStyles/" as *;
  section {
    @include container();
  }
</style>
