---
import Layout from "../layouts/Layout.astro";

import MainImage from "../assets/images/video-img.webp";

import Tabs from "../components/Tabs.astro";
---

<Layout title="Siegertreppe">
  <div class="bg-circle"></div>

  <section class="intro">
    <h1>
      Wir unterstützen Menschen und Unternehmen dabei, noch erfolgreicher zu
      werden
    </h1>
    <h2>Das ist unser Antrieb bei allem, was wir tun</h2>
  </section>

  <section class="image">
    <img src={MainImage.src} alt="video image" />
    <p>
      Wir helfen, das volle Potenzial Ihres Unternehmens auszuschöpfen. Wir
      bieten maßgeschneiderte Lösungen, die auf Ihre individuellen Bedürfnisse
      zugeschnitten sind, und begleiten Sie auf jedem Schritt Ihres
      Erfolgspfades.
    </p>
  </section>

  <section class="tabs">
    <div class="wrapper">
      <h2>Siegertreppe</h2>
      <p>
        Sieben Schritte, die sowohl analoge als auch digitale Elemente
        beinhalten. Sieben Schritte, die Umsetzungserfolg garantieren.
      </p>
      <div class="container">
        <Tabs />
      </div>
    </div>
  </section>

  <div class="quote-heading">
    <div>
      <h2>
        „Innovation besteht darin, zu sehen, was alle sehen und dabei zu denken,
        was niemand denkt.“
      </h2>
    </div>
  </div>
</Layout>
<style lang="scss">
  @use "../abstractStyles/" as *;

  body {
    position: relative;
  }

  .bg-circle {
    height: 5853px;
    width: 5853px;
    background-color: $primary-200;
    border-radius: 50%;

    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);

    top: -5266px;
  }

  .intro {
    @include container();
    padding-top: 150px;
    padding-bottom: 150px;

    h1 {
      @include H1();
      text-align: center;
    }
    h2 {
      @include H2();
      text-align: center;
    }
  }

  .image {
    @include container();

    p {
      @include P();
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .tabs {
    background-color: $primary-200;
    padding-top: 120px;
    padding-bottom: 200px;

    .wrapper {
      @include container();
    }

    h2 {
      @include H1();
      text-align: center;
      padding-bottom: 100px;
    }

    p {
      @include P();
      text-align: center;
    }

    .container {
      margin-top: 100px;
      padding: 100px 80px 120px 100px;
      background-color: $light-000;

      display: flex;
      flex-direction: column;
    }
  }

  .quote-heading {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: $green-300;

    div {
      @include container();
    }

    h2 {
      @include H1($light-000);
      text-align: center;
    }
  }
</style>
