---
import Layout from "../layouts/Layout.astro";

import MainHeading from "../components/MainHeading.astro";
import Profiles from "../components/Profiles.astro";
import Quote from "../components/Quote.astro";

import Image from "astro/components/Image.astro";
import Button from "../components/Button.astro";
import About01 from "../assets/images/about/about-01.webp";
import About02 from "../assets/images/about/about-02.webp";

import Banner from "../assets/images/about/banner.webp";

import Testimonials from "../components/Testimonials.astro";
---

<Layout
  title="Über uns"
  footerHeading="Möchten Sie uns kennenlernen?"
  footerSubHeading="Nehmen Sie gerne Kontakt mit uns auf. Wir freuen uns von Ihnen zu hören!"
>
  <MainHeading
    heading="Wir unterstützen Menschen und Unternehmen dabei, noch erfolgreicher zu werden"
    subHeading="Das ist unser Antrieb bei allem, was wir tun"
  />

  <Profiles />

  <Quote
    bgColor="#007BA4"
    text="„Innovation besteht darin, zu sehen, was alle sehen und dabei zu denken, was niemand denkt.“"
  />

  <section class="about">
    <h2>Über uns</h2>
    <div class="wrapper">
      <div class="sub-section-one">
        <div class="sub-section-text">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd.
          </p>
          <Button href="/leistungen" text="Leistungen ansehen" />
        </div>
        <Image src={About01} alt="about pic" />
      </div>
      <div class="sub-section-two">
        <div class="sub-section-text">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd.
          </p>
        </div>
        <Image src={About02} alt="about pic" />
      </div>
    </div>
  </section>

  <Image class="banner" src={Banner} alt="banner" />

  <Testimonials />
</Layout>

<style lang="scss">
  @use "../abstractStyles/" as *;

  .about {
    @include container();
    display: flex;
    flex-direction: column;
    gap: $space-60;

    h2 {
      @include H1();
      text-align: center;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: $space-60;
    }

    .sub-section-two {
      flex-direction: row-reverse;
    }

    .sub-section-one,
    .sub-section-two {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: $space-60;

      img {
        max-width: 540px;
        width: 100%;
        height: auto;
      }

      .sub-section-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-60;
        max-width: 540px;

        p {
          @include P();
        }
      }
    }
  }

  .banner {
    width: 100%;
    height: auto;
  }
</style>
