---
const { href, text } = Astro.props;
---

<button href={href}>{text}</button>

<style lang="scss">
  @use "../abstractStyles/" as *;

  button {
    font-family: $text-font;
    font-size: 22px;
    line-height: 1.4;
    color: white;
    background-color: $primary-500;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 40px;
    padding-left: 40px;

    border-width: 0px;
    border-radius: 10px;

    cursor: pointer;
  }

  button:hover {
    scale: 1.005;
    background-color: $primary-400;
  }
</style>
