---
const { href, text, target = "_self" } = Astro.props;
---

<a href={href} target={target}><button>{text}</button></a>

<style lang="scss">
  @use "../abstractStyles/" as *;

  button {
    font-family: $text-font;
    font-size: 22px;
    line-height: 1.4;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: $primary-500;

    padding: $space-small $space-40;

    border-width: 0px;
    border-radius: 10px;

    cursor: pointer;
  }

  button:hover {
    scale: 1.005;
    background-color: $primary-400;
  }
</style>
