<section id="cookieConsent" class="hide">
  <div id="cookieConsentOne" class="wrapper">
    <div class="description">
      <h2>Cookies</h2>
      <p>
        Wir verwenden Cookies und andere Technologien auf unserer Website.
        Einige der Cookies sind essenziell, während andere uns helfen, unsere
        Website und Ihr Nutzererlebnis zu verbessern. Für weitere Informationen
        zu den von uns verwendeten Cookies, öffnen Sie bitte die Einstellungen.
      </p>
    </div>
    <div class="buttons">
      <div class="accept-reject">
        <button class="cookie-consent-false">Alle ablehnen</button>
        <button class="cookie-consent-true">Alle akzeptieren</button>
      </div>
      <button id="sectionHideControl" class="settings"
        >Einstellungen verwalten</button
      >
    </div>
    <a class="privacy-policy" href="/datenschutz">Datenschutz</a>
  </div>

  <div id="cookieConsentTwo" class="wrapper hide">
    <h2>Präferenzen</h2>

    <div class="options">
      <div class="option">
        <div class="option-heading">
          <h3>Notwendige Cookies</h3>
          <input
            type="checkbox"
            name="notwendigeCookies"
            value="notwendigeCookies"
            checked
            disabled
          />
        </div>
        <p class="option-text">
          Notwendige Cookies ermöglichen grundlegende Funktionen und sind für
          die einwandfreie Funktion unserer Website erforderlich.
        </p>
      </div>

      <div class="option">
        <div class="option-heading">
          <h3>Funktionale Cookies</h3>
          <input
            type="checkbox"
            name="notwendigeCookies"
            value="notwendigeCookies"
            checked
          />
        </div>
        <p class="option-text">
          Durch diese Cookies kann unsere Website Ihre bevorzugten Einstellungen
          (z. B. Ihre bevorzugte Sprache) speichern und sicherstellen, dass alle
          unsere Dienste ordnungsgemäß funktionieren.
        </p>
      </div>

      <div class="option">
        <div class="option-heading">
          <h3 class="small-heading">Analytische Cookies</h3>
          <input
            type="checkbox"
            name="notwendigeCookies"
            value="notwendigeCookies"
            checked
          />
        </div>
        <p class="option-text">
          Analytische Cookies erfassen Daten wie die Anzahl der Besucher und
          Seitenaufrufe und speichern diese anonym. Diese Cookies helfen uns, zu
          verstehen, wie unsere Besucher unsere Website nutzen.
        </p>
      </div>

      <div class="option">
        <div class="option-heading">
          <h3>Marketing-Cookies</h3>
          <input
            type="checkbox"
            name="notwendigeCookies"
            value="notwendigeCookies"
            checked
          />
        </div>
        <p class="option-text">
          Unsere Website verwendet Marketing-Cookies, um Ihnen personalisierte
          Inhalte und Werbung anzuzeigen, die Ihren Interessen entsprechen.
          Diese Cookies ermöglichen es uns und unseren Partnern, Informationen
          über Ihre Browsing-Gewohnheiten zu sammeln, um Ihnen gezielte Werbung
          bereitzustellen.
        </p>
      </div>
    </div>

    <div class="accept-save">
      <button class="cookie-consent-false">Alle ablehnen</button>
      <button class="cookie-consent-true">Einstellungen speichern</button>
    </div>
  </div>
</section>

<script>
  let section: any = document.getElementById("cookieConsent");

  let cookieBanner = localStorage.getItem("consent");

  console.log(cookieBanner);

  if (cookieBanner == null) {
    section.classList.remove("hide");
  }

  let sectionOne: any = document.getElementById("cookieConsentOne");
  let sectionTwo: any = document.getElementById("cookieConsentTwo");

  let sectionHideButton: any = document.getElementById("sectionHideControl");

  sectionHideButton.addEventListener("click", sectionHideControl);

  let sectionHide = false;

  function sectionHideControl() {
    sectionHide = !sectionHide;
    if (sectionHide) {
      sectionOne.classList.add("hide");
      sectionTwo.classList.remove("hide");
    }
  }

  const setTrue = () => {
    localStorage.setItem("consent", "true");
    section.classList.add("hide");
  };

  const setFalse = () => {
    localStorage.setItem("consent", "false");
    section.classList.add("hide");
  };

  let trueList = document.getElementsByClassName("cookie-consent-true");
  let falseList = document.getElementsByClassName("cookie-consent-false");

  for (let index = 0; index < trueList.length; index++) {
    trueList[index].addEventListener("click", setTrue);
  }

  for (let index = 0; index < trueList.length; index++) {
    falseList[index].addEventListener("click", setFalse);
  }
</script>

<style lang="scss">
  @use "../abstractStyles/" as *;

  //   Classes for JavaScript

  .hide {
    display: none !important;
  }

  // Normal Styling

  section {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);

    display: grid;
    place-items: center;
  }

  h2 {
    @include H2();
  }

  h3 {
    @include H3();
  }

  p {
    @include P();
  }

  .wrapper {
    width: min(700px, 95vw);
    padding: $space-30 $space-40;
    border-radius: 20px;

    background-color: $light-000;

    display: flex;
    flex-direction: column;
    gap: $space-40;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: $space-medium;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: $space-small;
  }

  .accept-reject {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-small;

    @include for-phone-only {
      grid-template-columns: 1fr;
    }

    button {
      padding: $space-small $space-medium;
      @include Nav($primary-500);
      font-weight: 500;
      cursor: pointer;

      background-color: $light-000;
      border: 1px solid $primary-500;
      border-radius: 5px;
    }

    button:hover {
      background-color: $primary-200;
    }
  }

  .settings {
    padding: $space-small $space-medium;
    @include Nav($light-000);
    font-weight: 500;
    cursor: pointer;

    background-color: $primary-500;
    border: 1px solid $primary-500;
    border-radius: 5px;
  }

  .settings:hover {
    background-color: $primary-400;
  }

  .privacy-policy {
    @include Nav($primary-500);
    text-decoration: underline;
    width: fit-content;
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: $space-30;
  }

  .option {
    display: flex;
    flex-direction: column;
    gap: $space-small;
  }

  .option-heading {
    display: flex;
    justify-content: space-between;
  }

  .option-heading h3 {
    @include for-phone-only {
      font-size: 16px;
    }
  }

  .option-text {
    @include for-phone-only {
      font-size: 12px;
    }
  }

  .accept-save {
    display: flex;
    justify-content: space-evenly;
    gap: $space-small;

    @include for-phone-only {
      flex-direction: column;
    }

    button {
      padding: $space-small $space-medium;

      font-weight: 500 !important;
      cursor: pointer;

      border: 1px solid $primary-500;
      border-radius: 5px;
    }

    button:nth-child(1) {
      @include Nav($primary-500);
      background-color: $light-000;
    }

    button:nth-child(1):hover {
      background-color: $primary-200;
    }

    button:nth-child(2) {
      @include Nav($light-000);
      background-color: $primary-500;
    }

    button:nth-child(2):hover {
      background-color: $primary-400;
    }
  }
</style>
