---
import { Image } from "astro:assets";
import logoWhite from "../assets/images/logo/logo-white.webp";

import { Icon } from "astro-icon";
---

<section>
  <footer>
    <div class="logo-nav">
      <a href="/">
        <Image src={logoWhite} alt="logo-white" class="logo" />
      </a>

      <ul>
        <li>
          <a class="nav-link" href="/uber-uns">Über uns</a>
        </li>
        <li>
          <a class="nav-link" href="/leistungen">Leistungen</a>
        </li>
        <li>
          <a class="nav-link" href="/siegertreppe">Siegertreppe</a>
        </li>
        <li>
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li>
          <a class="nav-link" href="/app">App</a>
        </li>
        <li>
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
    <div class="mini-nav">
      <ul>
        <li>
          <a class="nav-link" href="#">Datenschutz</a>
        </li>
        <li>
          <a class="nav-link" href="#">Impressum</a>
        </li>
      </ul>
    </div>
    <div class="social">
      <a href="https://www.xing.com/" target="_blank">
        <Icon name="ri:xing-fill" class="social-logo" title="xing link" />
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <Icon
          name="ri:linkedin-box-fill"
          class="social-logo"
          title="linkedin link"
        />
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <Icon
          name="ri:facebook-box-fill"
          class="social-logo"
          title="facebook link"
        />
      </a>
    </div>
    <div class="contact">
      <p>
        <b>Kontaktieren Sie uns</b>
      </p>
      <p>Schnetzen 1/1 88276 Berg</p>

      <p><b>Rufen Sie uns an</b></p>
      <p>07504 971 82 42</p>
    </div>
  </footer>
</section>

<style lang="scss">
  @use "../abstractStyles/" as *;

  section {
    background-color: $primary-500;
  }

  footer {
    @include container();

    display: grid;
    grid-template-columns: 20% 20% 20% 40%;

    @include for-smaller-than-desktop {
      grid-template-columns: 1fr;

      gap: $space-medium;
    }
  }

  .logo-nav {
    display: flex;
    flex-direction: column;
    gap: $space-40;

    .logo {
      width: 100%;
      height: auto;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: $space-medium;

      @include for-smaller-than-desktop {
        align-items: center;
      }
    }

    li {
      list-style: none;
    }

    .nav-link {
      @include Nav($light-000);
      text-decoration: none;
    }
  }

  .mini-nav {
    display: flex;
    align-items: flex-end;

    @include for-smaller-than-desktop {
      justify-content: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: $space-medium;
    }

    li {
      list-style: none;
    }

    .nav-link {
      @include Nav($light-000);
      text-decoration: none;
    }
  }

  .social {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;

    .social-logo {
      color: $light-000;
      width: 60px;
      height: auto;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: $space-medium;

    @include for-desktop-only {
      border-left: 1px solid $light-000;
      margin-left: $space-80;
    }
    p {
      @include P($light-000);
    }
  }
</style>
