---
import logoColored from "../assets/svgs/logo-colored.svg";
import Hamburger from "../assets/svgs/hamburger.svg";
import Cross from "../assets/svgs/cross.svg";
---

<section>
  <header data-click="false">
    <a class="logo" href="/"><img src={logoColored.src} alt="Logo" /></a>

    <nav>
      <ul>
        <li>
          <a class="nav-link" href="/uber-uns">Über uns</a>
        </li>
        <li>
          <a class="nav-link" href="/leistungen">Leistungen</a>
        </li>
        <li>
          <a class="nav-link" href="/siegertreppe">Siegertreppe</a>
        </li>
        <li>
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li>
          <a class="nav-link" href="/app">App</a>
        </li>
        <li>
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      </ul>
    </nav>
    <img class="phone-menu hamburger" src={Hamburger.src} alt="phone menue" />
    <img class="phone-menu cross" src={Cross.src} alt="phone menue" />
  </header>
</section>

<script>
  let header: any = document.querySelector("header");
  let click = false;
  let clickEvent = () => {
    click = !click;

    if (click) {
      header.setAttribute("data-click", "true");
    } else {
      header.setAttribute("data-click", "false");
    }
  };
  let icons = document.getElementsByClassName("phone-menu");

  for (let i = 0; i < icons.length; i++) {
    icons[i].addEventListener("click", clickEvent);
  }
</script>

<style lang="scss">
  @use "../abstractStyles/" as *;

  section {
    background-color: $light-000;
  }

  header {
    @include container();
    position: relative;

    display: grid;
    grid-template-columns: 288px 1fr;

    @include for-phone-only {
      grid-template-columns: 75% 25%;
    }
  }

  @include for-desktop-only {
    nav {
      display: flex;
    }
    .phone-menu {
      display: none;
    }
  }
  @include for-smaller-than-desktop {
    nav {
      background-color: $light-000;
      position: absolute;
      z-index: 1;
      width: 100vw;
      right: -1rem;
    }

    header[data-click="false"] nav {
      transform: translateX(-100%);
      transition: all;
      transition-duration: 50ms;
    }

    header[data-click="true"] nav {
      transform: translateX(0%);
      transition: all;
      transition-duration: 50ms;
    }

    header[data-click="false"] .hamburger {
      opacity: 1;
    }
    header[data-click="false"] .cross {
      opacity: 0;
    }
    header[data-click="true"] .hamburger {
      opacity: 0;
    }
    header[data-click="true"] .cross {
      opacity: 1;
    }
  }
  .phone-menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 10;
  }
  .logo {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
  }
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @include for-smaller-than-desktop {
    ul {
      padding: $space-large;
      flex-direction: column;
      height: 80vh;
    }
  }

  li {
    list-style: none;
  }
  .nav-link {
    @include Nav();
  }
</style>
