---
import { Image } from "astro:assets";
import logoColored from "../assets/images/logo/logo-colored.webp";

import { Icon } from "astro-icon";
---

<section id="header">
  <header data-click="false">
    <a class="logo" href="/">
      <Image src={logoColored} alt="Logo" width={750} />
    </a>

    <nav>
      <ul>
        <li>
          <a class="nav-link header-link" href="/uber-uns">Über uns</a>
        </li>
        <li>
          <a class="nav-link header-link" href="/leistungen">Leistungen</a>
        </li>
        <li>
          <a class="nav-link header-link" href="/siegertreppe">Siegertreppe</a>
        </li>
        <li>
          <a class="nav-link header-link" href="/blog">Blog</a>
        </li>
        <li>
          <a class="nav-link header-link" href="/app">App</a>
        </li>
        <li>
          <a class="nav-link header-link" href="/kontakt">Kontakt</a>
        </li>
      </ul>
    </nav>
    <Icon name="ph:list-bold" class="phone-menu open" />
    <Icon name="ph:x-bold" class="phone-menu close" />
  </header>
</section>

<script>
  let header = document.querySelector("header");
  let click = false;
  let clickEvent = () => {
    click = !click;

    if (click) {
      header.setAttribute("data-click", "true");
    } else {
      header.setAttribute("data-click", "false");
    }
  };
  let icons = document.getElementsByClassName("phone-menu");

  for (let i = 0; i < icons.length; i++) {
    icons[i].addEventListener("click", clickEvent);
  }

  let activeLink = document.querySelectorAll(".header-link");
  activeLink.forEach((link) => {
    console.log(link.href === window.location.href);
    if (link.href === window.location.href) {
      link.setAttribute("aria-current", "page");
    }
  });
</script>

<style lang="scss">
  @use "../abstractStyles/" as *;

  section {
    position: fixed;
    z-index: 1000;

    width: 100%;

    background-color: $light-000;
    padding: $space-medium 0;
  }

  header {
    @include container(0);
    position: relative;

    display: grid;
    grid-template-columns: 288px 1fr;

    @include for-phone-only {
      grid-template-columns: 75% 25%;
    }
  }

  .logo img {
    width: 288px;
    height: auto;
  }

  @include for-desktop-only {
    nav {
      display: flex;
    }
    .phone-menu {
      display: none;
    }
  }
  @include for-smaller-than-desktop {
    nav {
      background-color: $light-000;
      position: absolute;
      z-index: 1;
      width: 100vw;
      right: -1rem;
    }

    header[data-click="false"] nav {
      transform: translateX(-100%);
      transition: all;
      transition-duration: 50ms;
    }

    header[data-click="true"] nav {
      transform: translateX(0%);
      transition: all;
      transition-duration: 50ms;
    }

    header[data-click="false"] .open {
      opacity: 1;
      transition-property: opacity;
      transition-duration: 25ms;
    }
    header[data-click="false"] .close {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 25ms;
    }
    header[data-click="true"] .open {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 25ms;
    }
    header[data-click="true"] .close {
      opacity: 1;
      transition-property: opacity;
      transition-duration: 25ms;
    }
  }
  .phone-menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 10;

    color: $primary-500;
  }
  .logo {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
  }
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @include for-smaller-than-desktop {
    ul {
      padding: $space-large;
      flex-direction: column;
      height: 80vh;
    }
  }

  li {
    list-style: none;
  }
  .nav-link {
    @include Nav();
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
  }

  .nav-link:hover {
    color: $primary-500;
    transition-property: color;
    transition-duration: 250ms;
  }

  .nav-link::after {
    position: absolute;
    bottom: -34px;
    left: 0;

    content: "";
    width: 100%;
    height: 2 * $space-tiny;
    background-color: $primary-500;
    border-radius: $space-tiny;
    transform: scaleX(0);
    transform-origin: right;
    transition-property: transform;
    transition-duration: 250ms;
  }

  .nav-link:hover::after {
    transform: scaleX(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transform-origin: left;
  }

  .header-link[aria-current="page"] {
    font-weight: 700;
    color: $primary-500;
  }

  .header-link[aria-current="page"]::after {
    position: absolute;
    bottom: -34px;
    left: 0;

    content: "";
    width: 100%;
    height: 2 * $space-tiny;
    background-color: $primary-500;
    border-radius: $space-tiny;
    transform: scaleX(100%);
    transform-origin: center;
    transition-duration: 100ms;
  }
</style>
