---
const { bgColor, text, color = "#fff" } = Astro.props;
---

<section style=`background-color:${bgColor};`>
  <blockquote style=`color:${color};`>{text}</blockquote>
</section>

<style lang="scss">
  @use "../abstractStyles/" as *;

  section {
    margin: $space-60 0;
  }

  blockquote {
    @include container($space-100 0);
    @include H1();
    text-align: center;
    max-width: 84rem;
  }
</style>
